@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --main-color: #6201AF;
    --black: #13131a;
    --bg: #010103;
    --border: 0.2rem solid #6201AF;/*rgba(255, 255, 255, 0.3);*/
    font-size: 11px;
}


* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    font-family: "Poppins", sans-serif;
}


/*"Mona Sans", MonaSansFallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"*/


body {
    background-color: var(--bg);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1170px;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: white;
    background-color: #320b4e;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.btn {
    background: var(--main-color);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    border-radius: 25px;
}

.btn:hover {
    letter-spacing: 0.1rem;
}

.home-container {
    background: url(img/home-atendimento.svg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.home-container section {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content {
    max-width: 60rem;
}

.content h3 {
    color: #D2B6E9;
    font-size: 5rem;
}

.content p {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
}

.title {
    font-size: 4rem;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.title span {
    color: #fff;
    text-transform: uppercase;
}

.about .row{
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 1.5rem;
}

.about .row .content {
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.7rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8;
}

.menu {
    margin-bottom: 10rem;
}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
    width: 30rem;
    cursor: pointer;
    border-radius: 40px;
}

.menu .box-container .box img {
    height: 8rem;
}

.menu .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.menu .box-container .box:hover {
    background-color: #6201AF;
    border-radius: 20px;
}

.menu .box-container .box:hover>* {
    color: white;
}

.menu .box-container .box .bot {
    background: white;
    color: black;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    border-radius: 25px;
}

.menu .box-container .box .bot:hover {
    letter-spacing: 0.1rem;
}

/*.footer {
    text-align: center;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share img {
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}

.footer .share img:hover {
    background-color: var(--main-color);
}*/

.footer {
    padding-top: 10rem;
    background-color: #D2B6E9;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    width: 220px; /* Ajustar o tamanho da logo */
    height: auto;
    margin-right: 10px;
}

.footer-links {
    display: flex;
    gap: 50px;
}

.footer-links a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.footer-links a:hover {
    text-decoration: underline;
}


